* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.calc {
  background-color: #1b2127;
  color: white;
  width: 30%;
  margin: 50px auto;
  padding: 15px;
  border-radius: 16px;
}
.wrap-1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
h1 {
  width: 100%;
  background-color: #373c41;
  padding: 15px;
  border-radius: 10px;
  margin: 6px;
  text-align: center;
  cursor: pointer;
}
input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 20px 0px;
  overflow: hidden;
  color: white;
  font-size: 2rem;
  text-align: right;
}
.numbers {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.num {
  width: 80%;
}

.toloba {
  width: 20%;
}
.toloba h1 {
  height: 100%;
  position: relative;
}
.wrap-0 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
